{:path ["src"]
 :deps {http-kit/http-kit {:mvn/version "2.6.0"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}
        cheshire/cheshire {:mvn/version "5.12.0"}
        com.microsoft.playwright/playwright {:mvn/version  "1.40.0"}}
 :aliases
 {:run {:main-opts ["-m" "pows.core"]}}}
